[2015-11-24 09:06] ZeHiro commented on #284
Finally some emails arrive (I think some ports were closed on my ISP-box). But still needs to be fixed.

[2015-11-24 09:11] ZeHiro commented on #154
This issue shold also translate emailed reports

[2015-11-24 22:00] bnjbvr commented on #285
@eravion, was it solved by installing the dependencies, as explained on https://github.com/bnjbvr/kresus#on-any-other-unix-based-operating-system ?

[2015-11-24 23:24] bnjbvr commented on #284
@clochix, `sendMailToUser` needs the API user to set the `from` address. In `sendMailFromUser`, the address is automatically set. Ideally, I'd need something to send an email from the user *to* the user here. In the meanwhile, we can't use `sendMailToUser` or `sendMailFromUser` without having to do some work by ourselves to figure out what the domain name / user email is.

[2015-11-25 06:34] eravion commented on #285
Hi,

Yes, thanks :)

[2015-11-25 06:34] #285 closed

[2015-11-25 23:23] bnjbvr commented on #103
Seems that #291 fixed this, at least for me (Firefox for Android). Even though it's very slow, the menu is now showing up and disappearing when clicking the hamburger menu.
@ZeHiro, can you confirm please?

[2015-11-26 11:25] clochix commented on #284
@bnjbvr very pertinent comment, could you open an issue in cozy/cozy-data-system ?

[2015-11-26 13:16] AwYiss opened #292 "UI Revamp"
Hi there,

Following my chat with @bnjbvr, I'm opening this ticket to:
- keep track of the corrections that are still to be made in the UI
- gather feedbacks regarding the latest UI-related evolutions
- collect new inputs about what should change in the current interface

The task board is currently available at https://trello.com/b/KlNwlofs. Feel free to add your suggestion here and it will be ad

[2015-11-30 10:34] ZeHiro commented on #237
Other solution would be to have sub-categories. Only the "main/first level" categories would have a different collor. Each subcategory would share the color of a subcategory. (see 'first solution' #39)

[2015-12-03 20:00] ZeHiro opened #294 "Deleting an account of a bank is not implemented"
At least client side

[2015-12-03 20:16] ZeHiro commented on #294
Hmm nope. Only on my dev instance :p

[2015-12-03 20:17] bnjbvr commented on #294
What if you force a refresh of the page? Maybe the icon just doesn't show up? Or try switching browsers? There might be an issue with the display of the icon. Can you check it's correctly inserted in the HTML and the correct className is getting applied?

[2015-12-03 20:18] ZeHiro commented on #294
Opened to fast

[2015-12-03 20:18] #294 closed

[2015-12-04 09:28] ZeHiro opened #295 "Add "Reset view" control in balance chart"
Take chart of balance.
Zoom in over a period.
Reseting the period is not clear : it is possible to click 'balance' button to do such, but it is not clear.

[2015-12-04 14:56] ZeHiro commented on #295
Can be managed with #238

[2015-12-07 12:23] ZeHiro commented on #292
Hi @AwYiss ,

maybe you could add some recommendation for the styling of pages, and also for accessibility, so that when a new  feature is developped, we can integrate the guidelines in the new code. Thank you

[2015-12-08 08:53] ZeHiro opened #296 "Warnings raised by couchdb on clean installs"
On startup, a series of warning are raised when checking the validity of banks in the db. It appears:
- backend
- websites
are not part of the model an are not in the db
On older installs, as previous driver for couchdb was more permissive, the backend and websites are known of the db, and the warning is raised.
Two possible fixes :
- add backend and websites in the db
- "clean" bank information f

[2015-12-08 18:20] bnjbvr commented on #296
Thanks. Ideally, bank information shouldn't be stored at all in the database.

[2015-12-09 10:08] ooii commented on #168
Hi, any news on that?
Thanks.

[2015-12-09 12:36] ZeHiro commented on #166
- [ ] Manually add operation
- [ ] Automatic conciliation
- [ ] Show future operations seperatly
- [ ] Don not include future operation in balance (or add a "future balance well")

[2015-12-09 15:17] bnjbvr commented on #168
Nope, not yet. It's a bit low priority to me, still very much willing to help if somebody wants to implement this. For what it's worth, you could use the export format to add a list of categories, by looking at how the export file is formatted it shouldn't be too hard; still, there's no automated way to do this.

[2015-12-09 15:42] ooii opened #298 "Hello bank does not work anymore"
Hi,

Updated to the final version in cozy and lost the ability to add Hello Bank account.
Here is the log:

[code]

[2015-12-09 15:57] bnjbvr commented on #298
Thanks for the report! It actually looks like an issue with weboob. Can you try updating it in the settings section?

[2015-12-09 23:12] ooii commented on #298
Updated and even reinstalled with same result.

[2015-12-10 09:12] ZeHiro commented on #290
I'll take this one.
Solution I'll implement:
- if customLabel exists & new customLabel is empty, delete it

[2015-12-14 21:34] ZeHiro commented on #254
@babolivier You can search by date only putting a max date.

[2015-12-17 07:26] ZeHiro opened #300 "Error raised on merg of 2 operations"
I am not sure what are the conditions which raised the error, but here is what I know.
When I merged two operations which both had "unknown  type" (but don't know if it is real "unknown type" or just "no type", an error was raised by the browser (didn't note the error, sorry).

[2015-12-20 10:10] ZeHiro commented on #298
It is a weboob problem, there is a fix but it is not yet backported in the official repos (seen this on #weboob irc).

[2015-12-20 16:46] bnjbvr commented on #300
Thank you for opening a ticket. We might need more information or STR here :p

[2015-12-20 22:50] ZeHiro commented on #300
I know that... But I couldn't get the exact conditions when I oppened the ticket. I'll try to reproduce on my dev instance.

[2015-12-25 14:48] bnjbvr commented on #298
Hi @ooii, can you try updating Weboob and see if it closes the issue?

[2015-12-25 15:13] bnjbvr commented on #244
Comme je n'ai pas eu de réponse depuis plus d'un mois, je ferme le ticket. Merci de réouvrir si le problème est toujours présent :)

[2015-12-25 15:13] #244 closed

[2015-12-25 15:15] bnjbvr commented on #103
Assuming it's fixed, closing the issue. Feel free to re-open if it isn't the case.

[2015-12-25 15:15] #103 closed

[2015-12-25 19:02] ooii commented on #298
Updating weboob from Kresus settings and even reinstalling it did not fix it.
Note that I'm using weboob in Cozy.

[2015-12-26 13:14] ArchangeGabriel commented on #289
@babolivier Have you had the time to look at this? Thanks.

[2015-12-26 14:15] bnjbvr commented on #289
@ArchangeGabriel, there's an open pull request about this, iirc. In the meanwhile, I've enhanced the README on incoming and linked it from the load screen.

[2015-12-26 14:27] bnjbvr commented on #287
See the new README on the `incoming` branch, it details what needs to be installed and all the extra steps. Having received no answer for more than a month, I am closing the issue. Feel free to re-open if there's something else to do.

[2015-12-26 14:27] #287 closed

[2015-12-26 14:49] ArchangeGabriel commented on #289
@bnjbvr Sorry, I wasn’t talking of the initial issue but my install one (https://github.com/bnjbvr/kresus/issues/289#issuecomment-158927369 and followings). Maybe should I open a different issue?

[2015-12-26 15:19] bnjbvr commented on #289
No problem. Feel free to comment directly on the PR that is going to solve this: https://github.com/bnjbvr/kresus/pull/272 (or if the PR isn't solving this, feel free to open a new issue). Thanks!

[2015-12-26 15:22] ArchangeGabriel commented on #289
This PR is not solving the issue AFAIU (only removes an harmless warning here). I’m opening a new one for this, and close this one since fixed by https://github.com/bnjbvr/kresus/commit/d038d046168244499ff103937644ce4e8cb9728b.

[2015-12-26 15:22] #289 closed

[2015-12-26 15:25] ArchangeGabriel opened #301 "Kresus fails to install on a ArchLinux based Cozy"
Continuation of https://github.com/bnjbvr/kresus/issues/289

Logs: https://gist.github.com/ArchangeGabriel/0708fb4e175f7c7ab55e

libffi is installed:
[code]

CC @babolivier.

[2015-12-26 17:26] bnjbvr opened #302 "Deleting the default account will trigger an error"
STR:
- set an account as a default account
- delete it from the preferences
- reload page

So this has to be done on the server: when deleting an account, check if it is the default account and remove the default account value in that case.

@nicofrand, willing to fix this?

[2015-12-26 17:29] nicofrand commented on #302
Yep, will do !

[2015-12-26 17:29] bnjbvr commented on #302
Cheers!

[2015-12-28 23:25] bnjbvr opened #305 "Issues post build update"
- [x] Load screen doesn't show up?
- [x] `babel-runtime` seems to be needed as part of the dependencies, sometimes?
- [x] minor task unrelated to the build, can be done as well here: some translation key is missing a dot `clientoperations` in `OperationList.js`...

[2015-12-29 10:41] ZeHiro opened #306 "On deletion of the last account of a bank, the bank is still displayed on the client"
Go to settings
Delete the last account of a bank

What is expected:
- the bank is not shown anymore on the client

What I see:
- the bank is still displayed.

On reload of the app, the bank is not displayed anymore.

Also, a request "GET /accounts/accountID" is thrown just after the deletion. (accountID being the data-system ID of the deleted account)

[2015-12-29 10:52] bnjbvr commented on #306
Thank you for opening an issue.

[2015-12-29 11:33] bnjbvr commented on #302
Fixed by https://github.com/bnjbvr/kresus/commit/1d90b13437b8efe49bd6ab3450b33eb708fb37f1

[2015-12-29 11:33] #302 closed

[2015-12-29 11:33] bnjbvr commented on #290
Fixed by https://github.com/bnjbvr/kresus/commit/2c6c423f96402d5c0cfaff2d5083e7d14afec973

[2015-12-29 11:33] #290 closed

[2015-12-29 11:34] bnjbvr commented on #269
Fixed by https://github.com/bnjbvr/kresus/commit/b8d161e3e17ebfc79c7ae78ed6d5291dff47a822

[2015-12-29 11:34] #269 closed

[2015-12-29 11:36] bnjbvr commented on #305
Fixed by https://github.com/bnjbvr/kresus/commit/cc07eba56e1d6a4c1f455578bf752f6932c2fedd

[2015-12-29 11:36] #305 closed

[2015-12-29 11:46] bnjbvr commented on #298
@ooii, can you retry again, please? I've got reports that HelloBank has been working again, since today or so.

[2015-12-29 11:58] ooii commented on #298
I'm leaving for vacation in few minutes. I'll test on the 2nd of january. Thanks for all the help. I wish you the best for 2016.

[2015-12-29 22:51] ZeHiro opened #308 "When two accounts have the same number (accountNumber) an error is raised when trying to set an email Alert"
To reproduce :
create Frake Bank 1 and 2. Go to settings / Emails. The raised error is:
[code]

[2015-12-31 14:43] bnjbvr opened #313 "Update HelloBank"
So BNPorc and HelloBank modules have been merged.

- [x] fix the BNP description in banks-all.json and add websites
- [x] migrate HelloBank users to BNP module
- ~~[ ] backport this update onto master :( and update the patch version number~~ *(this will land in `incoming` and a new version is going to get released)*

See also https://git.symlink.me/?p=weboob/devel.git;a=blob;f=modules/bnporc/modul

[2016-01-01 21:49] babolivier commented on #301
Hi @ArchangeGabriel

I'm really, really sorry about the delay. The hosting company from which I rent my test servers had an IP avalability failure (so I couldn't investigate the issue), and I'm currently working on the new infrastructure of an organisation I'm part of, so I'm really not sure about when I'll be able to get back on this issue. But I will, for sure.

[2016-01-02 12:00] ArchangeGabriel commented on #301
OK, no problem.

[2016-01-02 13:38] nicofrand commented on #237
Working on it.

[2016-01-02 15:48] ZeHiro opened #314 "Import banks information directly from weboob"
- [ ] Fetch modules with bank capability
- [ ] For each module, retrieve connection parameters
- [ ] Create bash script
- [ ] Update banks in DB
- [ ] Migrate current installs (especially for the banks with currently no website choice, for example lcl: set website to default value)
- [ ] Update client for new fields

[2016-01-02 18:25] bnjbvr commented on #314
Thanks for opening an issue. This is something I've been willing to do for a long time.
Now, let's think a bit together before implementing it.

I really dislike the fact that we store the bank information into the database, because the bank information is duplicated three times:
- weboob has the bank capability information
- it is stored in raw JSON in `banks-all.json`, aka `banks.json`.
- it is

[2016-01-02 19:29] ZeHiro commented on #314
I was just working on the python scripts rigth now. But the idea was to delete the ```bank-all.json``` file after proper integration.
Then I don't know if we can keep it out of the DB.

[2016-01-02 21:27] Technowix opened #316 "Grosse erreur dans la catégorie "Emails""
Cela ne semble pas impacter les fonctionnalités, cependant, c'est effrayant xD !
Cela survint quand je clique ici :
https://i.imgur.com/SvNIC2U.png
Et du coup j'ai le droit à une jolie pop-up me montrant ceci à la chaine en boucle :
[code]

[2016-01-02 21:55] ZeHiro commented on #316
Seems to be a duplicate of #308

[2016-01-02 21:58] Technowix commented on #316
Sorry, didn't searched too much ! :')

[2016-01-02 22:43] ZeHiro commented on #316
@Technowix no problem. Can you just confirm you have 2 accounts with the same number? (or twice the same account imported). Can you check with the databrowser app that two ``bankaccount`` don't have the same ```accountNumber```? Thank you.

[2016-01-02 23:12] Technowix commented on #316
A little bit more than 2 accounts it seem xD
https://i.imgur.com/mbUS3oD.png

[2016-01-02 23:28] ZeHiro commented on #316
Aïe ! Is it normal? Does it reflects the reality? Or is there another bug there?

[2016-01-02 23:33] Technowix commented on #316
I'ts "reflect" the reality ! And, I don't send the right thing it seem, I have a simple "Duplicate" (I have only 4 bank account)

[2016-01-03 13:27] bnjbvr commented on #316
(on repasse en français, comme le ticket a été ouvert initialement en fr)
@Technowix, merci d'avoir ouvert un ticket. Est-ce que c'est normal que tu aies plusieurs comptes avec exactement le même identifiant `accountNumber` ? Si oui, l'hypothèse que les comptes bancaires peuvent être identifiés par leur valeur "accountNumber" est fausse, et ça risque d'être un problème pour la suite.

[2016-01-03 15:36] Technowix commented on #316
https://i.imgur.com/2SND23K.png
Je sais pas trop analyser ça, mais j'dirais que mes 4 comptes ont été dupliqués ^^"

[2016-01-03 16:29] Technowix commented on #316
Bon, j'ai tout effacer avec le Data Browser, et re-importer mes comptes, plus de pépins, plus de problèmes d'EMAIL, et j'ai bien uniquement les comptes :)

[2016-01-05 10:11] ZeHiro opened #319 "Allow to select several catagories/type in the search operation"

[2016-01-05 16:03] ooii commented on #298
Hi,
Still not working. Updated Kresus, weboob and reinstalled it. Tried to use BNP Paribas but does not accept my password.

[2016-01-05 16:39] bnjbvr commented on #298
Ha, great that you're around. I actually have a fix on a branch: can you follow the indications in https://forum.cozy.io/t/kresus-hello-bank-non-supportee/1787/6?u=ben and let me know if you hit an error?

[2016-01-05 22:00] ooii commented on #298
Yes, it works.

[2016-01-05 22:09] ooii opened #320 "Sub-categories"
Hello,

I thought I already have opened an issue for sub-categories but it seems not.
Personally, I need to have sub-categories. But charts could be limited to categories.

[2016-01-05 23:27] bnjbvr commented on #298
Great to hear, thank you for testing! Yes, we will probably release a new version of Kresus in the next few days, so it'd be better to keep this issue open in the meanwhile.

[2016-01-05 23:28] bnjbvr commented on #320
Thanks for opening an issue. It was a subtask of #16, but it's an entire mini project, so it'd be better to have its own issue. Closing #16 in favor of this one.

[2016-01-05 23:29] bnjbvr commented on #16
Subcategories will be done in #320. Closing this one.

[2016-01-05 23:29] #16 closed

[2016-01-06 08:59] bnjbvr commented on #298
Actually closing, as there's a fix and it references #313.

[2016-01-06 08:59] #298 closed

[2016-01-06 09:00] bnjbvr commented on #196
Fixed by 8d08240764237628c6dc89fb61cdd7ccc4a2e022.

[2016-01-06 09:00] #196 closed

[2016-01-06 09:01] bnjbvr commented on #319
Thanks for opening an issue!

[2016-01-06 09:06] bnjbvr commented on #316
Merci @Technowix !

L'erreur qui s'est affichée montrait qu'il y avait un problème de cohérence explicite dans les comptes stockés, mais Kresus ne propose pas encore de solution. Idéalement, il faudrait sûrement fusionner les comptes, ou proposer à l'utilisateur de supprimer ceux qui sont mauvais, ou juste lui indiquer de les supprimer à la main.

Cela arrive assez régulièrement que des utilisateu

[2016-01-06 15:09] Technowix commented on #316
Je pense que, comme tu dis, une "mise en attente" et plus de transparence sur ce qui se trame derrière serait peut-être une bonne solution !
(je dois recharger la page à chaque importation, de plus :x )

[2016-01-06 15:31] ZeHiro commented on #308
This error is normal :p, maybe shall we update the Fake banks, so that they don't have the same account numbers

[2016-01-06 15:48] bnjbvr commented on #308
Indeed, thanks for opening an issue.

[2016-01-06 21:26] ZeHiro commented on #103
@bnjbvr yes, it is fixed.

[2016-01-06 21:36] marienfressinaud commented on #103
Thanks guys! :)

[2016-01-06 22:06] ZeHiro opened #322 "Today's operations are not displayed on balance chart"
When an operation has date = Today, it is not diplayed on balance chart.

[2016-01-08 08:50] bnjbvr commented on #322
Indeed, thanks for opening an issue.

[2016-01-09 04:24] iamale opened #324 "Adding Rocketbank support"
Hi there! I'd like to add support for a particular bank I'm using, Rocketbank ([in Russian](https://rocketbank.ru)). I've had some experience with their API (namely, I've created [a command-line client](https://github.com/iamale/rock) by reversing their Android application). Could you please guide me in how to add bank backends to Kresus?

[2016-01-09 15:28] bnjbvr commented on #324
Hi there! Thanks for opening an issue. It is not very hard to add a backend, although it's not very documented: you would have to 1. create a new backend "source" (in JS preferably, otherwise you'd have to do things like for `/server/lib/sources/weboob.js`), 2. add it to the list of backend sources, 3. add it to static bank information.

For 1., you can have a look at the dummy backend source "moc

[2016-01-09 18:08] bnjbvr commented on #313
Fixed by https://github.com/bnjbvr/kresus/commit/6862871e3c6a53e5a6d530e3b8e851938efaf8d4

[2016-01-09 18:08] #313 closed

[2016-01-09 18:13] bnjbvr commented on #247
During the first install of Weboob, after weboob gets installed, it's getting updated just thereafter; it's a small pain for the great benefit of having Weboob being updated every day. If somebody wants to fix this, feel free to do so :-)

Fixed by https://github.com/bnjbvr/kresus/commit/05b4eea0e6baff5216da87f83dc9c5d7615db9fb

[2016-01-09 18:13] #247 closed

[2016-01-09 18:18] bnjbvr commented on #322
@ZeHiro, can you please confirm this is fixed on incoming? (if so, feel free to close the issue)

[2016-01-09 19:06] ZeHiro commented on #322
@bnjbvr : fixed.

[2016-01-09 19:06] #322 closed

[2016-01-10 00:28] ZeHiro commented on #300
OK. I didn't reproduce, but on reading the code, I understood what happened:
- Merge 2 operations with no operation type set.
- Here: https://github.com/bnjbvr/kresus/blob/incoming/client/store.js#L575
- The type is not set to the unknownTypeID, then the error was raised.

[2016-01-10 10:22] bnjbvr commented on #300
Good catch. I'll take care of fixing this; we shouldn't just apply the unknown operation type afterwards, but make sure that creating an operation does it for us. Also, there's a discrepancy between the naming of types, `type` and `operationTypeId`, which is at fault here.

[2016-01-10 10:37] ZeHiro commented on #322
@bnjbvr : In fact, today's operations are displayed, but not future operations. The scale goes to the date of future date, but it is not plotted

[2016-01-10 18:07] bnjbvr commented on #322
Sounds fine to me, at the moment: this could be handled in #310.

[2016-01-10 20:09] bnjbvr commented on #300
Fixed by https://github.com/bnjbvr/kresus/commit/c6441b3e0990fad7a556b845983bcb136375e9cf .

If you have the opportunity, can you test and confirm, please?

[2016-01-14 13:41] bnjbvr opened #326 "Kresus.next"
This bug is a reminder to all tasks / subprojects I'd like to see done in the next versions of Kresus. Any other big project ideas can be added to this list.

# Client code

- [ ] update React to the latest version
- [ ] split client files in several directories (one dir per section in Kresus + "ui" / "basic" components)
- [ ] make components dumber (i.e. stateless)
- [ ] use redux on the client?

[2016-01-15 10:11] ZeHiro opened #327 "Allow to create full manual accounts"
This is to allow the users which bank is not supported by weboob to still be able to manage their accounts.
[ ] Account creation wizzard shall allow to specify a custom label for the account/bank (warning: account number shall be unique.
[ ] A dummy backend shall be created  (fetching operation will retrieve nothing).
[ ] Maybe check account number is unique in the dummy backent, at the creation o

[2016-01-15 10:18] bnjbvr commented on #327
Thanks for opening an issue. The account number should be a detail to the user, so let's just have the backend choose the account number of behalf of the user. The harder problem is that the name must be unique enough, that other bank accounts won't likely have an account with this accountNumber in the future. But a random hex string with special chars should be a good choice.

[2016-01-15 10:23] ZeHiro commented on #327
Yes, I thought account number was displayed at some point.

[2016-01-18 22:38] #270 closed

[2016-01-18 22:38] #273 closed

[2016-01-18 22:38] #275 closed

[2016-01-18 22:38] #300 closed

[2016-01-18 22:56] bnjbvr commented on #55
Fixed by https://github.com/bnjbvr/kresus/commit/b06f09cfabc5cf5a6b780d292daac7f5fa1cccc9

[2016-01-18 22:56] #55 closed

[2016-01-18 23:02] bnjbvr commented on #237
Fixed by https://github.com/bnjbvr/kresus/commit/4b215964340510432b649582e7445c80f6a72086 .

[2016-01-18 23:02] #237 closed

[2016-01-19 08:56] ZeHiro opened #328 "In search operations wrong selection of catgory/type when toggling on and off search operation"
To reproduce:
- Show search operations panel
- Filter operations by category or type
- Hide search operation panel
- Show search operation panel

Observed:
- The value in the select is "any category/type"

Expected:
- The value in the select should be the one selected before hiding/showing again panel

Moreover, it is impossible to show again all the operations as there is no change in the select

[2016-01-19 08:57] bnjbvr commented on #328
Good catch!

[2016-01-19 11:56] ZeHiro commented on #306
can be closed

[2016-01-19 11:57] ZeHiro commented on #280
Can be closed

[2016-01-19 12:59] bnjbvr commented on #306
Fixed by https://github.com/ZeHiro/kresus/commit/cc671520592682e2b8dc3e125f659ba2f4af3f42

[2016-01-19 12:59] #306 closed

[2016-01-19 12:59] bnjbvr commented on #280
Fixed by https://github.com/bnjbvr/kresus/commit/d4c25235b62a8f22ca3598808630e69e5a960941

[2016-01-19 12:59] #280 closed

[2016-01-19 13:06] nicodel opened #330 "Launch fail after upgrade to 0.7"
I had Kresus install on a Cozy with version 0.6.1.

I launched the upgrade this morning, but if fails and now Kresus starts with 2 messages (below)
[code]
[code]

When I look at Kresus Preferences, About, version displayed is still 0.6.1, but in Cozy status page it displays 0.7.1.

[2016-01-19 13:21] hamzux commented on #41
hello,
Is having a predefined list of shops (classified by category) an option to start implementing this feature?

For example:

Check all expenses containing E. Leclrec, Carrefour, Auchamp etc as Groceries (even if it's not always what you buy at these venues).
We would end up with a reference database for each country.

Has someone experimented with machine learning?

Thanks.

[2016-01-19 13:24] ZeHiro commented on #330
@nicodel, have you force the reload of you're browser's page (Ctrl+F5)?

[2016-01-19 14:23] nicodel commented on #330
@ZeHiro arf, yes it works. Thanks !

[2016-01-19 14:23] #330 closed

[2016-01-20 10:01] bnjbvr commented on #41
Hi @hamzux,
That could work as a start, but there is one tiny problem: we don't have default categories, so we can't have a static mapping of regexp to categories. Categories are variables. What this means is that we need to start with a new data type, containing the following information: Premise => Consequence, enabled or not.

`Premise` would be an object containing one of the fields `labelCont

[2016-01-20 10:02] bnjbvr commented on #41
Forgot to say: bayesian filters could be used to infer rules from the manual classification, but would be too imprecise otherwise (if enabled without asking for confirmation).

[2016-01-21 11:57] bnjbvr opened #332 "Enable server-side compression of content"
https://github.com/cozy/cozy-contacts/pull/211/files

Or even use brotli :D

[2016-01-23 13:41] hamzux commented on #41
Hello,

I managed to setup kresus correctly in standalone mode. I've created a new method called classify in operations controller which loops through all operations in all accounts and tests if operation.title = 'E.LECLERC'. Also added route 'operations/classify' { get: operations.classify}.
When I call localhost:9876/operations/classify I get a 404 error.

Did I miss something ?
Thanks

[2016-01-23 16:31] PandiPanda69 opened #333 "Spawning sh weboob's scripts causes [execvp(): Permission denied]"
Hey !

I had a little issue when trying to install Kresus on a Debian Jessie. The root cause seems to come from the code, i'll give more details about it later.

First, to be sure I did it the right way, here what I did:
1- make install-debian-deps (*notice it could be improved by adding an apt-get upgrade*)
2- install weboob (v1.1)
3- make build
4- make run

Following those steps, right after log

[2016-01-23 17:46] bnjbvr commented on #333
Thanks for the detailed issue! Can you confirm whether https://github.com/bnjbvr/kresus/commit/e8fec4422d9ae1c48eefe1a283bbf1c5db23e721 fixed it?

[2016-01-23 17:47] bnjbvr commented on #332
Actually, the reverse proxy should play this role, not the nodejs server itself. Closing.

[2016-01-23 17:47] #332 closed

[2016-01-23 17:47] bnjbvr commented on #328
Fixed by https://github.com/bnjbvr/kresus/commit/4dad8903629720d2c15f9ccd0ba9b7032ae6ba09 .

[2016-01-23 17:47] #328 closed

[2016-01-23 17:50] bnjbvr commented on #262
In the next version of Kresus (see https://github.com/bnjbvr/kresus/commit/e8fec4422d9ae1c48eefe1a283bbf1c5db23e721 ), users will need to install Weboob by themselves, and if it's missing, there'll be a nice message showed to the user. Closing.

[2016-01-23 17:50] #262 closed

[2016-01-23 17:51] bnjbvr commented on #60
In the next version of Kresus (see https://github.com/bnjbvr/kresus/commit/e8fec4422d9ae1c48eefe1a283bbf1c5db23e721 ), users will need to install Weboob by themselves, which cancels all the work planned here. Closing.

[2016-01-23 18:08] PandiPanda69 commented on #333
Thank you very much for the fix.

It works like a charm now !

[2016-01-23 18:11] bnjbvr commented on #333
Thanks for confirming, closing the issue.

[2016-01-23 18:11] #333 closed

[2016-01-23 21:02] bnjbvr commented on #41
Hi, it's a bit hard to tell without looking at the code. Can you push your WIP on a branch of your fork, so that I can give it a look, please?
Cheers

[2016-01-23 21:03] bnjbvr commented on #154
Ha, I was pretty sure there was an issue open about that. Fixed by https://github.com/bnjbvr/kresus/commit/8c11d61c257e41e7b31d9e27da2d66b961124c25 .

[2016-01-23 21:03] #154 closed

[2016-01-24 10:43] nicofrand commented on #278
This is now fixed.

[2016-01-24 10:43] #278 closed

[2016-01-26 08:05] bnjbvr opened #337 "Add import/export eslint plugin"
https://www.npmjs.com/package/eslint-plugin-import

[2016-01-26 13:36] ZeHiro commented on #218
Could this be done with a version check by the client?
Init of client would be:
- client requests server version
- if client version < server version
 - the client forces the reload (without cache control)
- else
 - load data
I don't know it is feasible, and it would avoid to always reload the js/css

[2016-01-26 17:41] bnjbvr commented on #218
You're almost describing service workers here :-) That sounds like a great solution to several problems (update + working offline).

[2016-01-26 17:52] ZeHiro commented on #218
My solution or service workers?

[2016-01-26 17:55] bnjbvr commented on #218
Service workers. A solution implemented by hand would probably be sub-optimal in many ways (if you do this on the client side, you need some JS to do this check; then the JS that does this check might not be loaded if your cache hasn't cleared, and so on).

[2016-01-28 10:20] nicofrand opened #338 "Wrong value for custom operation"
Firefox uses the locale to process a number given by an input[type="number"].
This means that in French, "1.125" means "1125" and not "1,125".

When creating a custom operation for an account, the amount will be incorrect if I type "10.255" (yeah, I know 0.5 cents are not that common) with my browser set in french.

A solution is to force the language of the input to english with `lang="en"` if we

[2016-01-31 17:42] bnjbvr commented on #338
Thanks for opening an issue. We'll need a way to harmonize this.

[2016-01-31 17:43] bnjbvr commented on #326
Client code split into several files, thanks to @ZeHiro !

[2016-02-01 14:52] peshane opened #340 ""unexpected error: undefined" when adding account"
Hi,

Just trying cozy cloud and I'm really interested by kresus :)

Sadly, when I try to add my bank account I've got an "unexpected error: undefined" message box. In the kresus-err.log I've got this:
[code]

It's seem that I've got this for all bank possible except the fakes one.

I also try with a packaged weboob installation, which works well on with it's own cli interface but kresus doesn't lo

[2016-02-01 15:09] bnjbvr commented on #340
Hi! Thanks for opening an issue about this. So far, and it should be more explicit in the README I guess, Kresus only works with python2. The scripts in `weboob/scripts` could probably be tweaked to reflect this more. If you have some knowledge about python2/python3, can you try fixing the code there, please? Otherwise, ping @babolivier who might be interested in this and more helpful than I am :-

[2016-02-01 15:55] peshane commented on #340
just find a way to tell kresus to use python2 when installing weboob :)

in weboob/scripts/install.sh, line 7, just swapping the "which" order for having "virtualenv2" first:
`pyvenv=$(which virtualenv2 || which virtualenv || echo "") `

after this, reinstalling weboob from the kresus's interface and it'w working :)

[2016-02-01 15:58] babolivier commented on #340
I started working on a fix in #272, was supposed to optimize it but no time.

@peshane Indeed this order makes more sense, I don't know why I didn't do it like this :)

Can't promise to work on a PR this week, even though I'd like to, so feel free to submit a fix if you want.

[2016-02-01 16:26] peshane commented on #340
well, first time on github so may be i've mistaken, but the fix is here: [https://github.com/babolivier/kresus/commit/908c774fe4987d0e48080c054d65bd3dfd8b947a](url)

[2016-02-01 16:29] bnjbvr commented on #340
Cheers! Looks like the right fix, but the code as changed much on the dev branch. Now there's only one python script, that's called by dashbang:

https://github.com/bnjbvr/kresus/blob/incoming/server/weboob/main.py#L1
https://github.com/bnjbvr/kresus/blob/incoming/server/lib/sources/weboob.js#L17

How could we adapt this fix to the dev version?

[2016-02-01 17:20] peshane commented on #340
maybe use this shebang:
`#!/usr/bin/env python2`

must be ok for rhel/centos/fedora like distribution, I assume others to

[2016-02-02 10:39] nikaro commented on #340
Hello,

I have the same error message when I try to add an account. But my installation and the error log are different.

I have done Debian standalone installation. And the error raised in the log is :
[code]

The file `../shared/errors.json` exists in the directory where i cloned the repo, but not in `~/.kresus` from where the application seems to run.

I solved my issue by clone the repo in `~/

[2016-02-02 10:54] bnjbvr commented on #340
Hi Nikaro,

Thank you for the report. I've dramatically changed how weboob is called in the next version and so this shouldn't happen again. Your workaround of cloning the repo in ~/.kresus is correct, in the meanwhile. I will let this issue open until we release the next version, to get feedback from you all.

Cheers!

[2016-02-02 10:55] bnjbvr commented on #337
Fixed by https://github.com/bnjbvr/kresus/commit/15ab09dc4ea87f36087a2228e2af25803d34ef6e

[2016-02-02 10:55] #337 closed

[2016-02-02 13:10] bnjbvr opened #341 "CreateOperationModal should show the account's title, not the account's bank id"

[2016-02-02 13:20] ZeHiro commented on #341
got it

[2016-02-03 23:33] ZeHiro commented on #341
To also do:
creating an operation should also emit State.Operations
use defalutValue instad of selected
add key= to select components

[2016-02-03 23:36] ZeHiro opened #345 "Use react with addons and non minified for incoming"
and keep minified one without addons on master

[2016-02-04 22:11] bnjbvr commented on #345
Nice idea. Although everytime we do a release, we have to change the code on master to move it back to production version of react. I'm not a big fan of that. Maybe we could use an env variable to know which version of react to use, and set this env variable in `make release`, instead?

Also, why do you want to have React with addons on incoming only?

[2016-02-04 22:11] bnjbvr commented on #341
Fixed by https://github.com/bnjbvr/kresus/commit/fea81d5d40bb6cbb98b43eb325aaf1093648e905

[2016-02-04 22:11] #341 closed

[2016-02-04 22:50] ZeHiro commented on #345
Well i'm interested in the perf addon, which is useful only for dev purpose.

[2016-02-05 07:20] ZeHiro commented on #338
Well, I use commas :s

[2016-02-05 12:46] ZeHiro opened #348 "Use account.id to identify an account"
Currently, we use account.accountNumber to identify an account, and to link an operation to an account. We should use the id of the account to link them.

This could avoid problems in case accountNumber is not unique  (even if it should be) :
- #308

[2016-02-05 15:29] bnjbvr opened #349 "Add git hooks for linting / testing"
https://www.npmjs.com/package/ghooks

[2016-02-06 10:39] ZeHiro opened #351 "Update access parameters shall display current values"
When I display the access parameters modal i expect to see:
- The bank login
- the bank password as a password (not sure for this one, on a user's point of view)
- The customFields (right website selected...)

To be able to know what to update

[2016-02-06 12:34] bnjbvr commented on #351
Thanks for opening the issue. To be able to do that, we need to include the accesses in the data we send to the client. Of course, the password shall not be sent (otherwise one would just have to type a few things in the developer's console to find out what the password is) nor shall it be shown even as stars in the password input (just changing the input type as "text" in the developers' console

[2016-02-06 12:42] ZeHiro commented on #351
You're right

[2016-02-08 19:28] Beast141 opened #352 "Kresus never ending installation"
I am having a big issue with Kresus, I just started installing it, and it is taking VERY long to install, the circle around the app just keeps on going round and round saying installing. i even rebooted the actual server and after that still saying the same thing. How do you stop this ?? or remove it and reinstall it? IT IS STUCK in a loop. help please?

[2016-02-09 08:28] ZeHiro commented on #352
Hello @Beast141 ,

could you provide more information?
Are you self-hosted? If so, did you install the dependencies listed here: https://github.com/bnjbvr/kresus#local-weboob-install-preferred-way ?
If not, please do, and restart Kresus, it should then work fine.
If it is still not working, could you provide server logs in a pastbin?
Than kou

[2016-02-09 10:39] Beast141 commented on #352
Hi @bnjbvr ,

Ok when i clicked on the little trash icon while it was busy in a never ending loop installation, nothing happened, so i clicked that same icon again and the app disappeared thank goodness.  I reinstalled it and it installed properly this time, and its dependencies.

Though i have 2 minor questions which i hope i can quickly ask right now, What if your foreign bank isnt listed? Can y

[2016-02-09 11:04] nicofrand commented on #352
Hi @Beast141,

@bnjbvr is currently working on the installation process to make it quicker and safer :).
To investigate why your first installation failed and was stuck in a loop, the logs would be needed.

If your foreign bank is not listed I am afraid there is no ideal solution at the moment.
You will either have to:

* develop a backend so that kresus is able to fetch your bank's data (see how

[2016-02-09 11:27] Beast141 commented on #352
Hi @nicofrand ,

Oh thank you, yes you answered all my questions. the bank would be First national bank.
But how safe is it even to use a third party app to log into a bank?

[2016-02-09 11:31] nicofrand commented on #352
Your bank password is encrypted inside cozy's database and is only decrypted in memory with your own cozy's password when you log into your Cozy.

If you are afraid that Kresus then uses this password then I guess you only have 2 choices: you trust Kresus or you read Kresus source code since it is opensource and avalaible on this very same URL and decides if everything is OK (the password is not s

[2016-02-09 13:07] kasiub opened #353 "Fortuneo two factors authentication connector"
Hello,

I have tried Kresus via my demo instance cozycloud.

My bank is Fortuneo. I have activated the two factor authentication. After the login / password authentication, I have to specify a code received via SMS from Fortuneo. However the 2 authentication factors seems not supported on Kresus yet.

It's not an issue but an enhancement.

Best regards

[2016-02-09 13:40] bnjbvr commented on #352
Hi @Beast141,

Kresus behaves as if it were a browser (like Firefox) and goes log in into your bank's website to retrieve accounts and transactions. So you need to give it your password, and there is an intrinsic need to be able to have the raw password at some point, if you want automatic polling of your accounts. Trust comes from the fact it's open-source and you're assumed to have control on yo

[2016-02-09 13:41] bnjbvr commented on #353
Hi,
Thank you for opening this issue! There might be something we don't correctly do, when showing Fortuneo's fields on the UI. Out of curiosity: is there a Fortuneo mobile application? If so, can you login on this app without using two factor authentication?

[2016-02-09 13:45] kasiub commented on #353
Yes there is a mobile app without using two factor authentication :).

If you told me how to do I can provide you debugs (I have a "demo" instance via cozycloud company.)

[2016-02-09 13:48] bnjbvr commented on #353
Cool. Do you have a different login/password when connecting with your mobile app? If so, these might be the ones which are needed to log in with Kresus. Otherwise, a pastebin of the logs at yourcozy.tld/logs/kresus after trying to add your bank account could show useful -- please first make sure that there is no sensitive information in there (there shouldn't be any, but I'd prefer to be sure).

[2016-02-09 14:01] kasiub commented on #353
No it's the same login/password. When I am trying to add the account I have a popup with "erreur inattendue: undefined" and I am receiving the code via SMS.

Please find the debugs:
[2016-02-09 13:51:02:778] info - americano | add plugin: cozydb
[2016-02-09 13:51:02:890] info - Cozy DB | bank - all request creation...
[2016-02-09 13:51:02:931] info - Cozy DB | succeeded
[2016-02-09 13:51:02:931] i

[2016-02-09 14:03] bnjbvr commented on #353
Error reporting is not great on the server, and in this case, it doesn't even show what the actual error is. I'll try to talk with some Weboob developers to know how they handle this in their code.

[2016-02-09 14:05] nicofrand commented on #239
I'll work on it once the linting is done.

[2016-02-09 15:01] nicofrand opened #354 "Use the operations type in duplicates detection"
Two operations with a different (both defined though) type should not be detected as duplicates.

Ex: a card operation and a check should not be detected as possible duplicates.

[2016-02-09 15:08] Beast141 commented on #352
Hi @nicofrand @bnjbvr ,

Yes that is true, it is open source and thank you for answering. I will have a look.

[2016-02-09 21:56] ZeHiro commented on #338
In fact it is also the case with the search fields for operation amount

[2016-02-11 13:05] bnjbvr opened #356 "Don't import missing fields when importing from Weboob"
- label can be undefined
- rdate can be undefined in some cases

[2016-02-12 08:12] bnjbvr opened #357 "Relaunch automatic polling every time even if there was an error"

[2016-02-12 15:00] ZeHiro commented on #326
[ ] Split operations

[2016-02-14 13:11] ArchangeGabriel opened #358 "Assertion error in Preferences → Emails."
When going to preferences and clicking on Emails.

[code]

Appears several times in a row, then:

[code]

Idem. After that, got access to the page.

[2016-02-14 13:18] ArchangeGabriel commented on #301
It works now. Not sure if it’s a change in Kresus/Cozy or python2-cffi upgrade (or even something else).

[2016-02-14 13:18] #301 closed

[2016-02-14 13:50] bnjbvr commented on #358
Hi, this usually indicates that

1. either your bank is doing weird stuff and two of your accounts share the same internal ID.
2. you've added your accounts several times, and you're not to blame for this: nothing actually tells the user whether adding an account succeeded or not.

To get rid of assumption of 2., you can install the databrowser application, and go look at the different BankAccess.

[2016-02-14 14:48] ArchangeGabriel commented on #358
Indeed, that’s because I added it 3 times. That’s because nothing was happening when clicking on “save” in the initial setup. Won’t I loose things I’ve changed on some operations if I do what you suggest (deleting Kresus information from databrowser)?

Note that in BankAccount, I have three set of my accounts, each set sharing the same BankAccess id, however only one of those sets has id for all a

[2016-02-14 14:48] ArchangeGabriel commented on #358
(And this one has different initialAmount than the others, that show my current amount)

[2016-02-14 14:53] bnjbvr commented on #358
Yeah, unless you've set categories for a lot of operations, I'd suggest removing all Kresus information. If you have spent time setting categories already, you can export the kresus instance, change the file by yourself, delete all data on kresus, re-import the kresus instance file -- that's tedious.

[2016-02-14 15:02] ArchangeGabriel commented on #358
I fixed it by deleting two of the three sets (the ones that didn’t have an id and the actual amount in initialAmount) and restarting my Cozy. So everything went fine without deleting the whole thing. I can confirm the assertionError is not here anymore.

So, the real bug here is multiple account creation.

[2016-02-14 21:36] ZeHiro commented on #358
Linked to #308 and #348

[2016-02-15 07:04] brouberol opened #359 "Error during accounts fetch (Banque Populaire Bourgogne Franche Comté)"
When I click on the "update" button, I get the following error in the UX ``Unknown error, please report: ?``, and the following entries in the logs

[code]

Hope that helps :)

[2016-02-15 10:33] bnjbvr commented on #358
Thanks @ArchangeGabriel . This is very much related to #143, so I'll keep the latter as it's a bit more general. Thanks a lot for opening an issue and investigating with us, though!

[2016-02-15 10:33] #358 closed

[2016-02-15 10:35] bnjbvr commented on #359
Thanks for opening an issue. Seems related to the weboob backend, maybe their site changed. Can you try updating Weboob by hand, and see whether it solves the issue or not? Otherwise, the weboob's module needs an update, which might take up to a few days...

[2016-02-15 10:37] bnjbvr commented on #60
When I say "closing", I actually mean "closing". Closing.

[2016-02-15 10:37] #60 closed

[2016-02-15 10:40] brouberol commented on #359
The website does not seem to have changed, at least visually.

When I try to update weboob, I get the following error:

[code]

[2016-02-15 10:44] brouberol commented on #359
I ran the script manually, to get a more useful error:

[code]

That might have to do with the fact that I'm running cozy in a docker container.

[2016-02-15 10:48] brouberol commented on #359
Yep, seems that my container lost the network oO

[code]

Sorry about the noise.

[2016-02-15 10:48] #359 closed

[2016-02-16 00:27] bnjbvr commented on #359
No problem. When in doubt, an open issue is much better than no issues at all!

[2016-02-18 09:14] bnjbvr opened #360 "Make issue and PR templates"
https://github.com/blog/2111-issue-and-pull-request-templates

- issue: "have you updated weboob", "have you retrieved server / client logs", etc.
- pull request: "is your PR based onto incoming", "does it pass linting", etc. (maybe the guidelines for contributing could link to this template).

[2016-02-18 10:52] Flore-mozfr opened #361 "Create a Kresus package for synology NAS"
It would be great to have a Kresus package on synology NAS diskstation. There is a [synocommunity repo](https://synocommunity.com/) that hosts open source packages (like tt-RSS, vim, owncloud...).
Instructions and framework are on https://github.com/SynoCommunity

As usual, I can only help by testing...

[2016-02-19 09:09] EtienneM opened #362 "Doublons non reconnus"
Salut,

Petit problème avec la reconnaissance des doublons sur mon Kresus. C'est la deuxième fois en peu de temps que j'ai pas mal de doublons mais aucun n'est reconnu dans la section "Doublon". Du coup, la balance en cours de mon compte n'est plus correct... Une idée ?

Pour info, mon kresus est à jour. Je suis hébergé chez CozyCloud.

[2016-02-19 09:30] ZeHiro commented on #362
Bonjour @EtienneM ,
Kresus détecte les doublons de cette manière :
- si la valeur des opérations est la même et
- si la différence entre les dates des l'opérations est inférieure à la valeur seuil définie dans les paramètres et
- si les opérations ne sont pas importées à la même date

Il semblerait que le problème vienne de la dernière condition qui n'est pas remplie.
Donc, weboob doit fournire de

[2016-02-19 10:50] ZeHiro opened #363 "Allow to activate debug mode for weboob"
A user from weboob IRC channel suggest it could be interesting to be able to activate debug mode for weboob from the WEBUI, it would help to debug module problems.

An idea could be to override the default logger of Weboob instance in Conector class.

Example from weboob IRC chan :
https://linuxfr.org/nodes/108182/comments/1644108

[2016-02-20 21:25] frankrousseau opened #364 "Allow to autotransform label of a bank operation"
Hi all,

First, thank you again for building kresus which allow me to manage my bank account properly.

When I manage the category of my bank operations, I often have to guess what the transaction is about. Some stores have a different name written on the bank operation. It would be nice to be able to set a kind of rule to translate automatically a name of a store to its official name.

Exemple: I

[2016-02-20 21:37] ZeHiro commented on #364
Can be managed as #41 I geuss. Could be shipped together.

[2016-02-21 20:02] bnjbvr commented on #362
Salut, ça pourrait aussi être la différence de dates par défaut qui est trop faible. As tu essayé d'augmenter le seuil de détection de doublons dans les préférences ? (ce n'est pas une option simple à trouver, je commence à me dire qu'elle devrait être dans les doublons directement, ou cachée derrière un bouton "trouver plus de doublons").

[2016-02-21 20:05] bnjbvr opened #368 "A few contributions / README improvements"
- [ ] precise in the README that kresus works with weboob v1.0 / v1.1
- [ ] try to ensure dependencies when doing `make dev`, or make it clearer that `npm install -d` should have been done before running `make dev`.

[2016-02-22 09:02] ZeHiro opened #369 "Improve DatePicket component"
Among others :
-[ ] Use the locales
-[ ] Use the clear() method of the picker instead of the jquery one
-[ ] Include to the package.json

[2016-02-26 12:17] jeekajoo opened #372 "Default bank setting"
Hi,

This is an enhancement request. Would it be possible to add a setting to define a default bank we want to show up at Kresus startup?

Today, the order is based on alphabet. So for instance, `Boursorama` will show up instead of `Credit Coopératif`.

Thanks
J.

[2016-02-26 15:01] bnjbvr commented on #372
Hi! Thanks for opening an issue. You can actually select a favorite bank **account**, which will select by default the account **and** bank it belongs to. Does it address your use case? Would it be worth it to add a star next to the bank's name, such that clicking that star would select by default the first account of that bank, to achieve the same effect?

[2016-02-26 15:04] bnjbvr commented on #361
That's a good idea! Unfortunately, I don't have a Synology device, so it's going to be really hard to quickly test with no devices. If somebody wants help doing this, I'll gladly help, though.

[2016-02-26 16:27] jeekajoo commented on #372
I just opened a bug on my side `pay more attention and avoid actually creating feature request for stuff that already exists` ;)
A star next to the bank's name would be a nice-to-have though.
Thanks

[2016-02-27 08:39] EtienneM commented on #362
J'importe systématiquement mes opérations manuellement. Je ne sais pas pourquoi mais l'importation ne se fait jamais automatiquement avec mon Kresus hébergé chez Cozy Cloud.

Je viens de faire un tour dans le data browser. J'ai par exemple une opération qui apparait 2 fois. La date d'import est pour les deux lignes identique : 2016-01-25T09:06:01.000Z. Le seuil de doublon ne change rien

[2016-02-29 10:19] ArchangeGabriel opened #373 "Opération manquante"
Je viens de m’apercevoir qu’il manque une opération dans mes comptes.

Je pense que Kresus l’a fautivement détectée comme doublon tout seul alors que ça n’en est pas un : en effet, j’ai fait deux paiement, du même montant, au même service, le même jour. Seul l’un des deux apparaît.

[2016-02-29 10:22] bnjbvr commented on #373
Merci pour le rapport de bug ! Bizarrement, plein de gens ont commencé à avoir ce bug à peu près en même temps, moi y compris. Par conséquent, ça va être réglé très rapidement... En attendant, tu peux ajouter l'opération à la main en allant dans les préférences puis en cliquant sur le + à côté du nom du compte, puis en renseignant toutes les informations, mais c'est un brin fastidieux...

[2016-02-29 14:26] ZeHiro commented on #209
I found how to fix this problem. We should also check the importdate before rejecting an operation. I will provide a pr for that

[2016-02-29 14:53] bnjbvr commented on #209
We can probably batch the operations insertion as well: put all the new operations in a separate temporary array rather than inserting them in the database directly; check all potential new operations against the ones that are in base; at the end of the checks, add all the new operations (temporary array) in base. That's simple and doesn't even need the importdate. Mind doing that?

[2016-03-01 11:23] bnjbvr opened #374 "Make a specific icon for Kresus"
All the previous icons for Kresus have been proposed by Cozy, as far as I can tell. I am not a big fan of the little piggy bank, so I'd like something else. And if it's a nice logo, I would even print some stickers and send them to contributors and people when attending meetups, that'd be great!

I thought about using the K letter, as it's prominent in the application's name. Experiments included

[2016-03-01 13:42] EtienneM commented on #362
up

[2016-03-01 14:01] bnjbvr commented on #362
C'est très étrange. Deux opérations en double importées au même moment ne devraient pas être des doublons ; est-ce que par chance, il s'agirait bien de deux opérations distinctes ?

Sinon, ça pourrait être effectivement une conséquence malheureuse de la fusion de comptes, mais même dans ce cas, je ne vois pas pourquoi kresus aurait importé des opérations appartenant à deux comptes différents puis

[2016-03-01 14:08] ZeHiro commented on #362
@bnjbvr, un probleme du module weboob?

[2016-03-01 14:21] bnjbvr commented on #362
Oui, c'est une autre possibilité, ça serait vraiment pas de chance par contre...

[2016-03-01 19:35] ArchangeGabriel commented on #374
The currency K with double bar idea looks fine (note that the single bar variant, ₭, is already assigned to a real currency, the laotian Kip).

[2016-03-01 23:10] bnjbvr commented on #372
Thanks! Let's morph the bug a bit, then. It should be pretty straightforward to add the star, all the machinery is already there to handle default selection. (The first bank's account would be selected by default, when you select a given bank, but otherwise, everything is already there!)

[2016-03-02 06:28] EtienneM commented on #362
J'ai fait des tests en local avec [boobank](http://weboob.org/applications/boobank), l'application banque de Weboob. Aucun doublon n'y apparait donc ça serait plutôt un problème avec Kresus.

Qu'entends-tu par là ?

Je n'ai jamais fait de fusion de compte, ce compte est configuré depuis que j'utilise Kresus et mon numéro de compte n'a jamais changé. Est-ce qu'il y a des logs quelque part que je po

[2016-03-02 12:34] ZeHiro opened #375 "Allow to disallow a category"
Use case:
- i create a category for a specifi event (holliday trip)
- i use it for the operations related to this specific event
- after this event is over, i dont want to be ablt to select this category anymore, but i want to keep the category.

There could be an extra bool in the data structure.

[2016-03-02 12:54] bnjbvr commented on #375
Thanks for opening an issue! If we had tags, that'd be extra easy to use a tag for that instead, and I'd be fine disallowing tags. Disallowing categories may add a few filters somewhere; it won't be too expensive, but I wonder if we shouldn't try to keep categories simple.

[2016-03-02 14:48] ZeHiro commented on #375
Well, it shouldn't change a lot. Maybe a new getter will be needed for the categories in the store. One for all the categories (categories view or search) one for the active ones (op view and op creation modal)

[2016-03-03 07:46] ZeHiro opened #376 "Search operation results should be updated on updating an operation"
What I observed :
- I had some operations filtered based on category (only)
- I modify the category of one of the operations (lets call it op1)
- op1 is still visible even if does not have the good category.
- it is necessary to change the category twice to update the list of operations

Two possible fixes :
- Automatically update the list of operations: emit and forward State.Operations on update

[2016-03-03 10:37] bnjbvr commented on #376
Interesting. That is actually a feature I like in Kresus: I can identify all the operations that haven't been categorized by looking up Category: None, and then I can classify all of them, and make sure that I'm consistent (attribute the same category to two uncategorized but similar operations). So I wouldn't want to have an automatic update of the list after a category update. The reload / updat

[2016-03-03 10:58] ZeHiro commented on #376
Another solution could be to add a setting for that and a reload button

[2016-03-03 11:07] bnjbvr commented on #376
Well, the setting would be the worst of both worlds: you'd have to emit State.Operations just in case the setting is enabled, and everything gets dynamic everywhere, which introduces more complexity.
Is it really an annoying thing? What is your use case, precisely? Do you look at a lot of operations, and decide to change the category for one?

[2016-03-03 11:24] ZeHiro commented on #376
Didn't see the event emission coming :p.
The reload button is fine.

[2016-03-03 13:16] bnjbvr commented on #362
Par "deux opérations distinctes", je demandais s'il était possible que ce soit bien deux opérations différentes dans ta banque, mais avec les mêmes libellés, dates et montants.

Je n'ai pas accès aux logs de Cozy (je ne travaille pas pour la boîte). Les logs serveurs risquent de ne pas apporter beaucoup d'information, surtout si tu as redémarré kresus récemment (les logs sont surchargés à chaque r

[2016-03-03 16:30] EtienneM commented on #362
OK merci pour toutes ces infos. Pour le moment, rien d'intéressants dans les logs. Dès que j'ai cette erreur à nouveau, je regarderai les logs. En attendant je vais supprimer dans le data browser les opérations en double ;)

[2016-03-04 08:13] ZeHiro opened #377 "Allow to select a default chart"
I only use 'balance' chart. It would be nice if the default chart could be selected in the parameters.

[2016-03-04 08:18] ZeHiro opened #378 "If no IBAN is set, 'IBAN: None' is displayed"
According to the code, it shouldn't be displayed.

[2016-03-04 08:44] bnjbvr commented on #377
Good idea, thanks for opening an issue!

[2016-03-04 08:44] bnjbvr commented on #378
Thanks for opening an issue. Where is IBAN: None displayed, exactly? Is it in the settings, below the bank accounts list?

[2016-03-04 08:54] ZeHiro commented on #378
Yes in the settings.
![capture3](https://cloud.githubusercontent.com/assets/7999082/13522284/f21352ae-e1ee-11e5-92ae-6c39bb92c9cd.PNG)
I think this is clearly a frontend bug. Not a server one.

[2016-03-04 08:58] bnjbvr commented on #378
I've to check, but I think the client prints the IBAN only if it's non null; so the server might have saved a dummy value for the IBAN at first.

[2016-03-04 09:04] ZeHiro commented on #378
The IBAN is set to 'None' in the DB.

[2016-03-05 11:52] ZeHiro commented on #363
@bnjbvr, can we consider this fixed by 0d98cc5 ?

[2016-03-05 11:54] ZeHiro commented on #373
Même problème que #209.
Devrait être corrigé avec #379

[2016-03-05 17:36] bnjbvr commented on #363
No, this isn't quite the same. Weboob debug logs might be even more helpful.

[2016-03-05 20:19] bnjbvr commented on #363
Fixed by a6921ca

[2016-03-05 20:19] #363 closed

[2016-03-05 20:20] bnjbvr commented on #368
Fixed by 0db0c38

[2016-03-05 20:20] #368 closed

[2016-03-05 20:22] bnjbvr commented on #133
I think this got fixed some time ago on incoming.

[2016-03-05 20:22] #133 closed

[2016-03-05 23:18] encolpe opened #381 "Fail to build weboob within an OVH VPS"
I'm testing the OVH images of cozycloud and it fails on kresus installation.

On this configuration neither the python-weboob package nor the dependencies to build it are installed by default.

If I install the python-weboob package the kresus installer fail to find it and try to build weboob.

If I go in `/usr/local/cozy/apps/kresus` and run `make install-debian-deps` it finally works.

[2016-03-06 12:03] bnjbvr commented on #381
Thank you for the report! That being said, there's not much we can do here: I don't have control on the OVH VPS images. Next version of Weboob will just need `python-weboob` or `python-weboob-core` to be installed, and there will be a message saying that if Weboob can't be run by the Kresus user.

I don't think there is much we can do here, so closing. In the meanwhile, let's @nledez know about th

[2016-03-06 12:03] #381 closed

[2016-03-06 15:11] bnjbvr commented on #326
Just finished linting the client, yay!
@ZeHiro, will add your suggestion to the list. Cheers!

[2016-03-07 10:46] jankeromnes commented on #326
:+1:

[2016-03-07 15:52] ZeHiro commented on #326
Maybe migrating directly to 0.15?
https://discuss.reactjs.org/t/react-0-15-release-date/3342

[2016-03-07 16:14] bnjbvr commented on #326
Yeah, the issue says "latest version" for one reason :-)

[2016-03-12 11:00] ZeHiro opened #382 "Set css class for checkbox"
Currently, the checkboxes are the one of the OS, not kresus. It would be nice if the checkboxes are alined with the restm of the teme.

[2016-03-12 12:03] ZeHiro opened #383 "On update/creation of access, the browser offers to save the credentials"
This is quite disturbing, and could be considered as a safety issue.

[2016-03-12 14:35] bnjbvr commented on #382
Thanks for opening an issue about this. I'm fine with the current look, but if somebody wanted to make them look better, feel free ;)

[2016-03-12 14:38] bnjbvr commented on #383
I think there's a HTML attribute to add that hints the browser not to save the password. Can't find it on MDN right now, though. I also seem to recall that the browser tries to save the password if the password field is within a form; putting the password field outside the form would be a workaround, but meh. Thanks for opening an issue.

[2016-03-12 15:35] ZeHiro commented on #383
removing id="login" of the input does the trick

[2016-03-12 17:02] AwYiss commented on #382
I'm already working on this :)

[2016-03-13 02:36] ZeHiro opened #384 "bankaccess are not merged on import of kresus.json"
This results in a weird behaviour

[2016-03-13 12:32] ZeHiro commented on #338
@nicofrand,
you could create this operation due to a bug in the balidation of the operation. An operation like 13.37 (on a french computer) will now not allow you to submit the opertion. You will need to use 13,37 . But you will be able to submit 13.370 which is way higher operation

[2016-03-13 22:15] bnjbvr commented on #384
Thanks for opening an issue. Indeed a lot of things ought to be merged...

[2016-03-14 12:56] bnjbvr opened #386 "Sanitize weboob's output"
If `rdate` is not filled in the weboob backend, this can lead to errors:

https://github.com/bnjbvr/kresus/blob/master/weboob/py/connector.py#L60

We shouldn't assume anything from weboob and just fill the fields ourselves if they're missing, in the weboob backend **and** in the accounts manager.

[2016-03-18 15:28] bnjbvr opened #388 "Update moment.subtract usage"
`Deprecation warning: moment().subtract(period, number) is deprecated. Please use moment().subtract(number, period).`

[2016-03-22 08:25] EtienneM commented on #362
J'ai à nouveau eu le souci en mettant à jour mes comptes ce matin. J'ai mis les logs ici : https://bimestriel.framapad.org/p/r.4c92536dbd53a1283db650cf069d49c7

Pour info, j'avais configuré un seuil d'alerte sur solde pour un de mes comptes. J'ai reçu l'email d'alerte 3 fois. Peut-être est-ce lié.

[2016-03-22 08:44] bnjbvr commented on #362
Merci pour l'info ! Si jamais tu as encore ces opérations dans un coin, est-ce que tu pourrais recopier leur contenu entier (depuis le databrowser) et le transmettre, stp ? (tu peux changer les textes et montants, tant que la structure est la même, c'est à dire même texte ou pas, même montant ou pas, etc.)

[2016-03-22 09:05] EtienneM commented on #362
OK je t'envoie ça par email.

[2016-03-23 22:27] bnjbvr opened #389 "Client: add passphrase for export/import"

[2016-03-23 22:51] bnjbvr commented on #388
Fixed by 90dcc1dd2b05acc4e6e9a1ae41969f011c16c438

[2016-03-23 22:51] #388 closed

[2016-03-23 22:54] bnjbvr commented on #357
Fixed by https://github.com/bnjbvr/kresus/commit/01e89e7525aa437c189e5e8760dd23142a86e601

[2016-03-23 22:54] #357 closed

[2016-03-24 08:11] bnjbvr commented on #386
Duplicate of #356 .

[2016-03-24 08:11] #386 closed

[2016-04-02 12:53] bnjbvr opened #390 "Add insights to the reports"
- How are transactions split among categories ?
- What was the most frequent provider ?
- HTML version, with graphs, maybe ?

[2016-04-04 08:08] ZeHiro opened #391 "Allow to select the type of alert"
It could be nice to choose how the alerts are transmitted to the user:
- Cozy Notifications
- Emails

[2016-04-04 09:57] bnjbvr commented on #391
Good idea! It shouldn't be too hard to do, I think.

[2016-04-04 11:02] ZeHiro commented on #391
There is also a client side impact in the settings

[2016-04-07 08:11] ZeHiro opened #392 "Several improvements"
From the forum :
https://forum.cozy.io/t/app-kresus/224/259?u=zehiro

- [ ] réduire la largeur de la colonne de gauche (menu)
- [ ]  mettre un saut de ligne entre le nom du titulaire du compte et le type de compte, pour éviter une ligne à rallonge
- [ ] partout : écrire la monnaie avec la vraie règle typographique française à savoir : une virgule comme séparateur (et non un point) mettre le symbol

[2016-04-07 08:11] notabene opened #393 "Erreur de connexion à la banque"
Bonjour,

Après consultation sur IRC qui disait de redémarrer Kresus, le problème persiste.

1. Lancer Kresus.
2. Dernière date de mise à jour des comptes : 25 mars
3. Je clique sur refresh, message d'alerte :

![« Unknown error, please report ? »](https://cloud.githubusercontent.com/assets/664145/14344596/dcca90ea-fca8-11e5-9b1d-e6fcf4d3d505.png)

Et voici les logs :

[code]

[2016-04-08 07:37] ZeHiro opened #395 "Warn the user of potential duplicates"
It appears when there is a difference in the real balance (ie the one on the bank website) and the displayed one by kresus is a real problem for some users, and prevents them to use kresus day to day.
This often happens when some duplicates are imported by Kresus.

A simple way to manage this would be to warn the user of potential duplicates, so that s.he can fix this manually.

Here is my solutio

[2016-04-08 08:51] ZeHiro commented on #392
- [ ] Quand une opération a une icône (facture par exemple), le button+icône n'occupe pas toute la largeur de la colonne du tableau (sur firefox et chrome pour windows), sur master. le code incriminé est peut-être là: https://github.com/bnjbvr/kresus/blob/incoming/client/components/operations/operation.js#L74-L76 -> pourquoi un label, et pas un div?

[2016-04-08 11:59] ArchangeGabriel commented on #395
Good idea, but it might also be because Kresus did NOT import two similar operations. I haven’t any duplicate, but I have three operations missing, because each of them had another operation of same amount/date/“merchant”.

[2016-04-08 12:03] bnjbvr commented on #395
Thank you @ZeHiro for the idea, I like it and have thought about using the bank's balance for mapping existing transactions with bank ones. Although there is just one issue I've been told about in the weboob IRC channel: some banks differ the computation of the balance and the arrival of new transactions. That is, if today you have 10 euros on your bank account, and tomorrow you get a new transact

[2016-04-08 12:04] ZeHiro commented on #395
@ArchangeGabriel

Next version will partially correct this (operations with the same sate/merchant/amount present at the same time on the website will be imported). There will still be some edge cases where operations will not be imported(but I think they will now be very rare).  You can correct this by adding manually the operation, in the settings part > click on the '+'

[2016-04-08 12:04] bnjbvr commented on #393
Merci pour le signalement ! Est-ce que tu as un message d'erreur plus précis, peut-être en début de log (tout en haut) ou tout en bas ? Si tu synchro à la main, est-ce que tu as la même erreur ? Ces erreurs là sont assez génériques et bénignes, si je me souviens bien (il est nécessaire de mettre à jour python vers une version plus récente, de mémoire).

[2016-04-08 12:04] bnjbvr commented on #392
Merci pour le ticket !

[2016-04-08 12:09] ArchangeGabriel commented on #395
@bnjbvr @ZeHiro OK, nice. I know about adding operation manually, but it doesn’t give the same results.

@bnjbvr Indeed, you’re right. For instance, my bank take into account some future operations (scheduled transfers…) for the balance. But they also give a « current balance » that is not taking into account such things, rather just operations already done. But sometimes (around update times, so

[2016-04-08 12:11] ZeHiro commented on #395
@ArchangeGabriel what do you mean by "it doesn't give the same result"?

[2016-04-08 12:12] ArchangeGabriel commented on #395
@ZeHiro I don’t have access to my instance currently, but from what I remember, it was something with operation label, things like imported operation have a different displayed label and detailed label but created ones can only have the same thing in both fields.

[2016-04-08 12:17] ZeHiro commented on #395
Yes you're right, it is a design choice, as it is manually added, I supposed it wasn't necessary to make the difference.

[2016-04-08 12:20] ArchangeGabriel commented on #395
Well, for my bank at least, they have different meaning and contains different information, and both are useful. That said, I understand your design choice, and I can live with it as long as my operations are correctly imported, which should be the case starting next version. BTW, will old missed operations be imported automatically?

[2016-04-08 12:27] ZeHiro commented on #395
They won't, for two reasons :
- first the operations could not be visible on you're bank website (for exemple, LCL keeps the operations 45days on the website)
- if a similar operation is already in the DB it won't be imported (otherwise you would have 100s of duplicates), and there is no way to make the distinction for kresus. Only the new cases of similar operations imported at the same time will

[2016-04-08 12:30] ArchangeGabriel commented on #395
I know about the first point, and that is for me the main reason to use something like kresus. In my case (LBP), they are 4 visible months, and the concerned operations are less than two months old (happened for the first time around https://github.com/bnjbvr/kresus/issues/373).

For the second point, will it work if I remove the already imported one manually using Cozy’s data-inspector?

[2016-04-08 12:33] ZeHiro commented on #395
I think it will, could you confirm @bnjbvr ?

[2016-04-08 12:39] notabene commented on #393
En faisant à la main j'ai ça :

(j'ai remplacé le hash d'url par [hash], au cas où tu demanderais)

[code]

[2016-04-08 12:39] bnjbvr commented on #395
Yes, this workaround should work.

[2016-04-08 12:41] bnjbvr commented on #393
D'accord. Tu es hébergé chez CozyCloud? Sinon, si tu as la main sur ton serveur, est-ce que tu pourrais essayer de mettre à jour Python, comme recommandé [là](https://urllib3.readthedocs.org/en/latest/security.html#snimissingwarning) pour voir si ça résout le problème de SNI ?

[2016-04-08 12:47] notabene commented on #393
Je suis chez Cozy donc je n'ai effectivement pas la main.

[2016-04-08 12:49] ArchangeGabriel commented on #395
OK, thanks. :)

[2016-04-08 13:56] bnjbvr opened #396 "Settle down npm dependencies"
`npm shrinkwrap`

[2016-04-09 10:38] ZeHiro commented on #392
- [ ] Il manque l'affichage d'une colonne (entre opération et montant) et d'une ligne (sous le label) dans la vue "Rapport", lorsque l'opération est un débit.

[2016-04-10 14:51] ZeHiro opened #397 "Send email when INVALID_PASSWORD is raised"
So that accounts are not blocked.

[2016-04-10 16:58] ZeHiro commented on #397
even better management could be to save this error in the DB, and stop automatic fetching if last import resulted in INVALID_PASSWORD

[2016-04-11 10:28] bnjbvr commented on #397
Nice idea. It introduces a bit of complexity, though: you want to be able to restart automatic polling as soon as the password has been replaced (or another manual polling worked again): so the polling has to share state with external units, in particular other files should be able to call in the poller to restart it, without introducing too much complexity.

[2016-04-11 11:25] ZeHiro commented on #397
I was thinking of testing the lastFetch status before actually fethcing, without restarting the poller. First of all, the poller needs to continue fetching on error, but I'm working on it.
The status needs also to be updated on manual fetching.

[2016-04-12 21:30] bnjbvr commented on #356
Fixed by https://github.com/bnjbvr/kresus/commit/648996278e75084ec3a1f35e4bcf9aee291c0c08.

[2016-04-12 21:30] #356 closed

[2016-04-18 08:42] ZeHiro opened #400 "Provide instructions to create a new backend"
- Expected API (fetchAccounts, fecthOperations)
- Expected data structure (account, operation)
- Expected raised errors

[2016-04-18 13:31] ZeHiro opened #401 "First automatic poll not done at the right hour (analysis pending for next poll)"
Here is what I have from my log after a restart of Kresus :

[code]

The next poll does not occur at 03:17:00 on 18/04/2016 :
[code]

It is quite weird (but not impossible) as the the new poll hour is exactly the same as for initial poll. I couldn't find where the problem is.

This is definitly just an nice to have. Will provide more information tomorrow, if polling occured on time. I am running '

[2016-04-18 13:35] bnjbvr commented on #401
Thank you, I'll try to take a closer look at the polling code.

[2016-04-20 07:03] ZeHiro opened #402 "Improve mobile experience"
On mobile, current design is not really user friendly:
The operation section is very wide compared to what can display a smartphone, it is necessary to scroll horizontally so see the amount. I suggest to keep only the most relevant information fir xs screen :
Date
Label
Amount
And hide type and categories. They are still available in the detailled view if necessary.
The label could also be read on

[2016-04-26 11:46] jeekajoo opened #403 "master key and slave key don't exist"
Hi,
I have this errors in data-system logs:
[code]
Still, kresus works properly.
Thanks

J.

[2016-04-26 11:55] ZeHiro commented on #403
This problem really looks like a cozy plateform problem. If you restart the datasystem /proxy this will work again.

[2016-04-26 12:36] bnjbvr commented on #403
Thanks for opening an issue. Yeah, it really is a problem from the platform itself, so unless you think about something else in particular, which impacts how kresus works, I don't think there's much to do from our side. Feel free to reopen though ;)

[2016-04-26 12:36] #403 closed

[2016-04-28 07:10] bnjbvr commented on #402
Yeah, that's a long-term goal I've had in mind for a long time.

Also, the list of operations should be an infinite list, either lazy loaded when you scroll down, or we should implement smart windowing algorithms to only display the elements that are visible on screen. That would be also **very** beneficial for the desktop version.

[2016-04-28 16:10] bnjbvr opened #404 "Dynamic account balance"
[code]

[2016-04-28 16:15] ZeHiro commented on #404
Duplicate of #254

[2016-04-29 07:13] bnjbvr commented on #404
Not exactly: the issue you're referring to talks about adding a column in the transaction view, with the balance at this time. This is about updating the balance well's amount as you scroll down the page. I should probably have been more specific in the initial message here, so updating the summary.

[2016-04-29 12:14] bnjbvr opened #405 "Do not import transactions with no known bank account"
This can lead to pretty weird situations:

- kresus imports two transactions before the account is actually imported
- when importing the account, the transactions are not imported, so there's no recalibrating the account's balance happening

As a matter of fact, the final amount of the newly imported account ends up being much different than what it's supposed to be, and there are no duplicates a

[2016-04-30 16:34] bnjbvr commented on #308
Fixed by https://github.com/bnjbvr/kresus/commit/d2114a3c7158ee4627113178155274f206d86b8f

[2016-04-30 16:34] #308 closed

[2016-04-30 17:52] bnjbvr commented on #405
Closed by 5def200.

[2016-04-30 17:52] #405 closed

[2016-04-30 18:03] bnjbvr commented on #397
Closed by  44f0f8b. Thanks ZeHiro!

[2016-04-30 18:03] #397 closed

[2016-04-30 18:04] bnjbvr commented on #393
Il y a probablement une autre erreur sous-jacente, mais elle n'est pas présente dans ces logs. Est-ce que tu as des nouvelles de ton côté ?

[2016-04-30 22:57] notabene commented on #393
Alors en fait au final, après trois essais infructueux, la banque avait carrément bloqué l'accès au compte. J'ai dû supprimer ce compte de Kresus et demander à la banque de réactiver notre accès internet.

Je ne peux plus faire de tests sur ce compte malheureusement,  pour des raisons un peu délicates : c'est le compte joint que je partage**ais** avec ma douce qui se trouve être depuis quelques jo

[2016-05-01 17:33] pbernery opened #408 "Caisse d'Épargne Weboob error: Invalid literal for Decimal"
Salut,

Je viens d'essayer Kresus (via Cozy) and ça semble prometteur.

J'ai cependant une erreur (je l'ai d'abord rapporté [ici](https://forum.cozy.io/t/apps-kresus-unknown-error-of-weboob/2415/1) mais je pense que ce n'est pas le bon endroit)

Quand je tente d'ajouter un compte de la Caisse d'Épargne Ile-de-France, j'ai une erreur affichée dans une popup : "Erreur inattendue: undefined".

Voici

[2016-05-02 07:11] bnjbvr commented on #393
Oops, désolé.

L'erreur décrite n'étant pas très claire (la prochaine version *devrait* améliorer ça), je pense que ce n'est pas très opportun de laisser ce ticket ouvert. Pourrais-tu m'indiquer en privé (irc ou forum cozy) le nom de ta banque, stp ? Il y a des chances que d'autres personnes chez la même banque aient rencontré le même problème. Merci !

[2016-05-02 07:11] #393 closed

[2016-05-02 07:19] bnjbvr commented on #408
Salut, merci pour le rapport d'erreur ! C'est un problème dans Weboob (le sous système qui se connecte au site de banque), qui reçoit des données qui n'ont pas la forme attendue.

Es-tu hébergé par CozyCloud ou auto-hébergé ? Dans le second cas, on pourrait essayer la version bêta de Kresus qui devrait nous donner plus d'informations sur l'erreur rencontrée dans Weboob.

Aussi, pourrais-tu essayer

[2016-05-02 14:45] ZeHiro commented on #401
Well, no improvement on that. The polling seem to be random :(

[2016-05-02 18:45] pbernery commented on #408
Merci pour la réponse.

Je suis auto-hébergé (Debian 8), je vais donc pouvoir essayer la version
beta, et j'essaierai avant Boobank pour voir si j'ai le même résultat.

Je devrais pouvoir le faire dans la semaine mais pas avant quelques jours.
Je donnerai des nouvelles !
Le lun. 2 mai 2016 à 09:19, Benjamin Bouvier <notifications@github.com> a
écrit :

[2016-05-03 12:20] ZeHiro commented on #245
This one occured again. If deleting the duplicate operation manually, the balance will be messed up. (because of how initial balance is computed).

[2016-05-03 12:38] ZeHiro opened #409 "Handle debit différé cards transactions"
through weboob iter_coming.

then we need to be sure of what to display to the user.
- future balance?
- real balance (these transactions are ignored)

[2016-05-04 14:39] ZeHiro opened #410 "Notifications are thrown by access and not account"
Solving this one with #215

[2016-05-04 14:49] ZeHiro commented on #277
@jeekajoo I already have the date of the transaction in the email report. What do you mean by 'time of the transaction'?

[2016-05-04 14:51] rgarrigue opened #411 "README weboob install link is broken"
There's nothing behind https://weboob.org/install, the correct one is http://weboob.org/install

[2016-05-04 15:17] jeekajoo commented on #277
example of a balance alert email:
[code]
I have no information about the date of that transaction

[2016-05-04 15:19] ZeHiro commented on #277
OK. So it's alert email. I'll fix that.

[2016-05-04 19:42] pbernery commented on #408
Salut @bnjbvr,

Je viens d'essayer boobank provenant de la version de weboob installée avec Debian et j'ai eu une erreur SSL. En regardant sur le net, j'ai vu que ça pouvait être dû à une différence entre la base de certificats de boobank et le site.
En essayant la version devel (branche devel indiquée sur ce site : http://weboob.org/install), je n'ai plus le soucis de SSL mais je retombe sur l'er

[2016-05-04 20:01] bnjbvr commented on #408
Super, merci du retour ! Je laisse ouvert pour confirmer que c'est bien côté weboob d'ici à ce qu'ils fassent la mise à jour :-)

[2016-05-05 16:36] pbernery commented on #408
Ils vont vite ! Le problème a été corrigé dans la branche devel. Je ne sais pas trop de quelle manière ils publient des versions stables ensuite.
Est-ce que c'est possible d'utiliser la branche devel sur Kresus facilement ?

[2016-05-08 09:04] ZeHiro opened #413 "Manage the case when the weboob module imports operations prior to the first import"
seen on IRC :
 Petit soucis avec Kresus, j'ai plein de nouvelles opérations qui ont été importée datant de l'année dernière (normalement, non accessible depuis l'interface web de ma banque). Je parle de la BNP.

The balance is then not correct at all.

[2016-05-08 10:00] ZeHiro commented on #413
maybe a duplicate of #141

[2016-05-09 07:13] ZeHiro commented on #409
Use iter_coming of weboob API

[2016-05-09 07:26] bnjbvr commented on #409
Thanks for opening an issue! Can you explain how these transactions work, please?

[2016-05-09 07:27] bnjbvr commented on #413
Thanks. I am thinking about this possible solution: each accounts gets a new field "oldest-operation" which is filled with the account's first import date. Each time we import transactions, we sum up the amount of transactions older than the oldest-operation, subtract this from the account's balance, update the oldest-operation. That should do it.

[2016-05-09 07:30] bnjbvr commented on #408
Salut ! Si tu utilises la version release (sur master), tu devrais pouvoir mettre à jour les modules depuis l'administration de Weboob (dans les préférences), à partir du moment où ils effectuent un "backport" du module. Ou sinon réinstaller Weboob.

Dans la prochaine version, où Weboob sera utilisé globalement, tu pourras utiliser la version de ton choix comme tu le souhaites ;)

Je ferme le tick

[2016-05-09 07:30] #408 closed

[2016-05-09 07:45] ZeHiro commented on #409
I don't know yet, and I don't have such an account. It was discussed on #cozycloud.
From what I understand, there is a "big transaction" being the sum of all coming operations which is done at the end of the month (or after a given date). Which means :
- To have up to date balance before this transaction, you have to consider the coming operations
- After that, you have to ignore it.

I think it i

[2016-05-09 07:47] ZeHiro commented on #413
I think so. We just need to manage a clean transition. Including account with no operation for this oldest-operation field.

[2016-05-09 15:30] ZeHiro commented on #233
Can this be closed with 0bb50b2d14a258607e54aebed823734ee1941456 ?
Or should we also send an email when NO_PASSWORD is set?

[2016-05-09 20:37] bnjbvr commented on #233
Yeah, I was merely thinking about sending an email when there's no password set. Also, when the user sets the password by hand, they shouldn't have to do the manual fetch at all, in my opinion.

[2016-05-09 21:11] ZeHiro commented on #233
I agree for the auto fetch

[2016-05-10 11:36] bnjbvr commented on #411
That's right, thank you!

[2016-05-10 11:40] bnjbvr commented on #411
Fixed by dad9188 on incoming.

[2016-05-10 11:40] #411 closed

[2016-05-11 07:42] bnjbvr commented on #151
Fixed by  de189fa.

[2016-05-11 07:42] #151 closed

[2016-05-11 07:44] bnjbvr commented on #326
Infinite list implemented as of https://github.com/bnjbvr/kresus/commit/de189fa4f8826358d94cb1cb682fbff963582c5e + https://github.com/bnjbvr/kresus/commit/7fe804b326f00c8cc6213e24dab97c4f92fc37a1 + https://github.com/bnjbvr/kresus/commit/27991b587f5ee0bb494daeb27f6425856d069cd4 !

[2016-05-11 15:03] ZeHiro opened #414 "Set appropriate cahche headers for 'data related' answers"
As we'are dealing with sensible data, it is necessary to set the appropriate header for caching, to prevent them to being cached by intermediate network equipement.

[2016-05-12 06:28] ZeHiro commented on #414
If data is transferres by https, it is not possible to have such a caching system.
Maybe a line or two for the standalone users would be enough?

[2016-05-13 09:26] nikaro opened #415 "Wrong balance amount"
Hello,

I have wrong balance amount for all of my account, while it doesn't seem to have operations fetching problem.

[code]

I have no idea where does the problem come from, maybe a bug due to the fact that i have two bank accounts in the same bank ? :-/

Let me know which information do you need to investigate further.

[2016-05-13 09:26] nikaro commented on #190
This feature would be nice to have.

Currently, i don't know why, my balances are wrong (#415) and i don't know how to fix it without deleting/re-adding my accounts.

[2016-05-13 11:59] bnjbvr commented on #415
Hi! Thanks for the report. Let's try the usual suspects:

- do you have two accounts which have the same number or the same name?
- have you checked the duplicates screen? Are there duplicates that aren't supposed to show up there? Are there duplicate transactions that should appear but don't?
- have you tried changing the duplicate threshold, in the preferences?
- did your bank suddenly show much

[2016-05-13 12:29] nikaro commented on #415
Thanks for the answer :-)

Nope.

No duplicates (nor on the duplicates screen or in the reports).

I tried to set the threshold at 48h, but it only detected a false positive.

I can see transactions aged from 04/2015, i don't remember it was the case before (i had only 2 months old transactions i think).

Nope.

[2016-05-13 12:32] bnjbvr commented on #415
Thank you! That's probably #413 then. I'll make sure it gets fixed and that #190 is implemented as soon as possible.

[2016-05-13 12:42] nikaro commented on #415
Great, thank you :-)

[2016-05-13 12:42] #415 closed

[2016-05-13 17:34] pbernery opened #416 "Mélange de compte"
J'ai 2 comptes Caisse d'épargne (un en Bretagne, un autre en Île-de-France).

Lorsque j'ajoute les 2 comptes, je m'attend à avoir 2 "banques" dans le menu de gauche mais je n'en ai qu'une et j'ai donc les comptes des 2 banques qui sont mélangés.

Est-ce le comportement attendu ou est-ce que c'est un cas qui n'a pas encore été prévu ?

[2016-05-13 17:37] pbernery opened #417 "Dédoublement d'opérations en trop ?"
J'ai un compte (La Banque Postale) qui a reçu 2 opérations du même montant et du même nom le même jour (2 retraits de 20€).

Dans Kresus, je ne vois qu'une opération. Est-ce que ce serait dû à un dédoublement automatique en trop (si cela existe) ? Ou est-ce que c'est simplement La Banque Postale qui n'a pas vraiment inclue l'opération encore (opération à venir) ?

[2016-05-13 17:38] pbernery commented on #408
Je viens de mettre à jour Weboob via l'interface de Kresus et c'est bon, ça fonctionne ! Merci pour l'aide.

Je viens de voir 2 points par contre, j'ai créé des tickets pour chacun :

- [Mélange de compte](https://github.com/bnjbvr/kresus/issues/416)
- [Dédoublement en trop ?](https://github.com/bnjbvr/kresus/issues/417)

[2016-05-13 18:09] ArchangeGabriel commented on #417
C’est un bug connu : https://github.com/bnjbvr/kresus/issues/373.

[2016-05-13 19:28] ZeHiro commented on #417
@ArchangeGabriel, ce probleme est connu et corrigé dans la prochaine version prévue si tout se passe bien dans un mois. Pour corriger ça tu ppeux passer par preferences et tu peux ajouter manuellement l'opération via le + a coté du compte

[2016-05-14 18:20] pbernery commented on #417
C'est noté, merci pour vos retours

[2016-05-17 13:41] ZeHiro opened #418 "'No category' should be just after the 'All category' in the search select"
I filter my operations with no category to allocate them a category. In french, 'Sans' is quit far in the drop down.
The same should be done with 'Unknown' operation type

[2016-05-17 16:27] bnjbvr commented on #418
Happened to me as well, even in English. Thanks for opening an issue!

[2016-05-17 16:28] bnjbvr commented on #373
Corrigé par https://github.com/bnjbvr/kresus/pull/379/commits/d30f948b0486d03040b09bd9eccf42916389afa2, sera dans la prochaine version. Merci encore pour le retour !

[2016-05-17 16:28] #373 closed

[2016-05-17 16:29] bnjbvr commented on #417
Corrigé dans https://github.com/bnjbvr/kresus/pull/379/commits/d30f948b0486d03040b09bd9eccf42916389afa2, sera dans la prochaine version. Merci encore pour le retour !

[2016-05-17 16:29] #417 closed

[2016-05-17 16:29] bnjbvr commented on #416
Salut,
Merci pour le ticket. Ce n'est pas un comportement attendu. Est-ce que deux des comptes ont le même libellé, ou le même iban, ou le même numéro de compte interne utilisé par la banque ?

[2016-05-17 19:30] pbernery commented on #416
Salut,

Je me demande si j'ai été clair sur le terme "compte" : je veux bien parler d'accès ici. J'ai un accès pour une caisse d'épargne en Bretagne, et un accès pour une caisse d'épargne en Île-de-France.

Ces 2 accès ont bien le même libellé puisque c'est le nom de la banque qui est pris (ce serait d'ailleurs bien de pouvoir renomme un accès) mais je n'ai qu'une seule entrée dans la liste des ac

[2016-05-17 20:03] ZeHiro commented on #416
Salut, pour weboob, il n'y a pas de différence entre les deux caisses d'epargne (d'ailleurs le site web est le meme). Et je ne pense pas qu'il soit possible de les différencier via les infos transmises par weboob. Par contre il doit etre possible de mettre des libellés de compte personnalisé. Séparer les comptes en deux banques fictives sera plus compliqué. Ou créera beaucoup de complexité

[2016-05-19 08:10] ZeHiro commented on #401
The date passed to setTimeout is correct, it seems setTimeout  is not properly handled :s
Or the evenloop is kept asleep.

[2016-05-19 22:46] bnjbvr commented on #416
Merci pour le rapport, il y a probablement un bug côté kresus aussi ; caisse d'épargne devrait au moins apparaître deux fois, même si c'est avec le même nom.

[2016-05-19 22:48] bnjbvr commented on #414
Thanks for opening. Although if the server is hosted with https, MITM shouldn't be possible. Did you have something else in mind? I guess we could add this in the readme file, to make it clearer to self-hosters.

[2016-05-19 22:51] bnjbvr commented on #410
Thank you for opening this issue!

[2016-05-20 06:36] ZeHiro commented on #416
Il y a des chances qu'on traite les banqueen tant que banque,  et pas pas en tant qu'accès, comme il faudrait le faire

[2016-05-21 10:47] ZeHiro commented on #233
- [x] Send email to q user when no password is set ( #420)
- [x]  Fetch accounts and operations on access password update ( #420 )
- [ ] Client counter part (getting fetches accounts and operations)

[2016-05-21 19:39] bnjbvr commented on #413
Fixed by https://github.com/bnjbvr/kresus/commit/f6b7f8247759d73ad16de1f13b104df5452ea385

[2016-05-21 19:39] #413 closed

[2016-05-21 20:15] bnjbvr commented on #396
Fixed by  	610e957.

[2016-05-21 20:15] #396 closed

[2016-05-25 09:02] ZeHiro opened #422 "Allow to unlink bills and operation"
In cas of a wrong match.
There could also be a search filter for linked operations.

[2016-05-25 11:25] bnjbvr commented on #422
Good idea, thanks!

[2016-05-31 09:03] bnjbvr opened #423 "SweetAlerts"
How about using http://t4t5.github.io/sweetalert/ for alerts, instead of raw alerts?

[2016-06-01 14:19] nadley opened #424 "Show weboob version in Settings page"
Adding a small information about the version of weboob installed on the system, it can help to know if an update is needed.
If we want to do something more complete and usefull, giving the next stable and pubblicated  version number of weboob will realy help to know if our setup is out of date.

[2016-06-01 14:54] bnjbvr commented on #424
Good idea, shouldn't be too hard, cheers!

[2016-06-01 15:20] ZeHiro commented on #424
Installed modules versions could also be a nice to have (I think it is also possible to fetch the versions of available versions on update.weboob.org)

[2016-06-03 19:19] SomeAverageDev commented on #41
hello @hamzux,
could you share your code ? we might have a look to move forward on this great feature !

[2016-06-04 10:27] ZeHiro opened #425 "Delete operation binaries on export"
They are meaning less on a new instance, and can be re set with konnectors

[2016-06-04 10:41] ZeHiro commented on #416
@bnjbvr A mon avis il y a aussi du travail coté client à prévoir, pour gérer les banques de l'utilisateur sur la base des accès et non des static banques.

[2016-06-05 18:05] ZeHiro commented on #362
@bnjbvr , y a t-il des nouvelles sur ce point? Il a à nouveau été observé au crédit coopératif

[2016-06-06 09:12] bnjbvr commented on #362
Pas vraiment de nouvelles, je ne sais pas trop ce qu'il se passe. En relisant les logs framapad ci dessus, j'ai l'impression qu'il y a eu deux synchros au démarrage de Kresus. Si les deux synchros arrivent en même temps, il y a effectivement une course (race condition) et toutes les opérations récupérées lors de ces synchros pourraient être prises en double. Je vais rajouter une petite protection

[2016-06-07 20:05] bnjbvr commented on #425
Indeed, cheers!

[2016-06-09 07:30] bnjbvr opened #426 "Accounts merging doesn't update alerts"
... duh.

(note to fixer: check the client too)

[2016-06-29 12:57] bnjbvr commented on #424
First part (weboob's version) has been done in 9a54bed. Next step is to show the module's versions:

[code]

[2016-07-04 17:08] pierreozoux opened #429 "Allow to recognize expenses from a bill (in image, like a scan)"
Ok, this one is crazy, but well :)

I just saw that, and feel jealous! http://www.smacc.io/index.php?lang=en
I want it too for my personal finance!
I know it would be really complicated to implement, but would be really nice :)

[2016-07-04 17:14] bnjbvr commented on #429
Nice! That's something I've been wanting for a few months, as a nice companion app on phones (and a possibility to have an OCR system provided by Cozy, not running under Kresus). Thanks for opening an issue about it.

[2016-07-05 08:33] ZeHiro commented on #429
A good mix, could be to allow to upload a file from a smartphone and direcltly link it to an operation (I use my smartphone to scan bills/invoices and get reinbursed)

[2016-07-07 22:52] bnjbvr opened #430 "Regression: small jump when scrolling in the list of operations"
I was developing on the `minefield` branch and remarked that if you have enough operations, in the main screen (operations list), if you scroll down quickly enough, then you can observe a very small reflow after the scroll. Like a very very small jump once you're done scrolling. See video.

![jumps](https://cloud.githubusercontent.com/assets/1180019/16672382/17382efa-44a6-11e6-9982-2b8e5310c132.gi

[2016-07-07 22:53] bnjbvr commented on #430
Oh, forgot to add: I've bisected this, this regression was introduced by this change:

commit cfeb79c2d8e614f03618cabbe9cc4d0b76daf3e4
Author: ZeHiro <>
Date:   Fri Jun 17 01:40:14 2016 +0200

    Improve mobile display + allow overflow of types and categories labels

[2016-07-07 23:10] bnjbvr commented on #430
This fixes it, fwiw:

[code]

[2016-07-07 23:14] bnjbvr commented on #430
Ha, probably this rules conflicts with the one just below:
https://github.com/bnjbvr/kresus/blob/incoming/client/css/style.css#L405
https://github.com/bnjbvr/kresus/blob/incoming/client/css/style.css#L413

Button which appear on screen are both affected by the first rule and the second rule, which dictate different widths...

[2016-07-07 23:17] bnjbvr commented on #430
I'm considering applying the fix mentioned in https://github.com/bnjbvr/kresus/issues/430#issuecomment-231234356 . Does it look fine to you @ZeHiro ?

[2016-07-08 05:46] ZeHiro commented on #430
@bnjbvr The two rulez are not conflicting they are complementary. The first one is for standard buttons, the other one is for buttons with bills. They shouldn't be conflicting.

[2016-07-08 06:11] ZeHiro commented on #430
Hard coded height might not be a good idea.

[2016-07-08 07:02] bnjbvr commented on #430
Good catch! Indeed this fixes the small jump issue I'm seeing (fwiw, I can see it on different machines).

Hard coding a value is not a bad idea: hard coding the same value at different places is a very a bad one. But I am not sure what else we can do...

[2016-07-11 07:14] bnjbvr commented on #430
Fixed by  2d80601.

[2016-07-11 07:14] #430 closed

[2016-07-11 07:38] bnjbvr opened #431 "Style: collision between bank's name and balance (when name is too long)"
[code]

[2016-07-11 07:41] bnjbvr opened #432 "Support Boursorama 2FA"
cf https://forum.cozy.io/t/kresus-perte-de-synchro-avec-boursorama/2439/9

[2016-07-11 09:00] ZeHiro commented on #432
We should make it generic for other future 2FA implementation